
.fullDetail-container {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    &.opened {
        z-index: 999;
        display: flex;
        height: calc(100vh - 6rem);
        max-height: 580px; //the height of backgroundImg bei width 1024px
        min-width: 280px;
        width: calc(100% - 2rem);
        max-width: 1024px;
        overflow: hidden;
        white-space: pre-wrap; //alows breaking line at \n characters.

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
        }
        .bg-img {
            max-height: 360px;
            z-index: -1;
            img {
                max-width: 100%;
            }
        }
        .fullDetail {
            background-color: rgba(255, 255, 255, 0.7);
            color: black;
        }
        .prev,
        .next {
            height: 50%;
            width: 10%;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }
}
