<section id="about">
    <div class="sectionTopic">
        <div>
            <h1>ABOUT ME</h1>
        </div>

        <div>
            <h2>
                I love programming.
            </h2>

            <p>
                For me, the codes like the Lego peaces, <br>
                programming make me happy like playing Lego. <br>
                Sometime I code 16 hours with just two short breaks <br>
                and do like that in many days. <br>
                If you have ever played Lego, <br>
                you know, some nights you can't sleep <br>
                because your Lego set wasn't finished. <br>
                And how great feeling when you resolve a problem, <br>
                what you had many hours brainstormt. <br>
                Programming is excited for me exactly like that.
            </p>

            <a style="text-decoration: none; color: currentColor;" target="_blank" href="template/lebenslauf/lebenslauf.html">
                <h2 class=" btn-extend active">
                    my skills
                    <i class="fas fa-angle-double-right"></i>
                </h2>
            </a>
        </div>
    </div>
    <div class="bground-container">
        <img class="bground" src="./assets/img/aboutme.jpg">
    </div>
</section>