#about{
    padding: 5rem 1rem;
    .sectionTopic {
        h1 {
            padding: 1rem 0;
            font-size: 3rem;
            white-space: nowrap;
        }
    }
    .bground-container{
        height: 60vh;
        width: fit-content;
        max-width: 100%;
        overflow: hidden;
        .bground{
            opacity: 0.7;
            object-position: left;
        }
    }

    @media (min-width: 480px) {
        padding: 7rem 4rem 4rem;
    }

    @media (min-width: 800px) {
        padding: 7rem 6rem 4rem;
        .sectionTopic {
            h1 {
                font-size: 4rem;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
    }

    @media (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        .bground-container{
            height: 100%;
            margin-left: 3rem;
        }
    }
}