<section id="about">
    <div class="sectionTopic">
        <div>
            <h1>ABOUT ME</h1>
        </div>

        <div>
            <h2>
                I love Technology.
            </h2>

            <a style="text-decoration: none; color: currentColor;" target="_blank" href="template/lebenslauf/lebenslauf.html">
                <h2 class=" btn-extend active">
                    <i class="fas fa-angle-double-right"></i>
                </h2>
            </a>
        </div>
    </div>
    <div class="bground-container">
        <img class="bground" src="./assets/img/aboutme.jpg">
    </div>
</section>