<section id="projects">
    <div class=" sectionTopic">
    <div>
        <h1>PROJECTS</h1>
    </div>

    <div>
        <h2 class="btn-extend active" onclick="transformProjectsContainer()">
            let's see how powerful you are
        </h2>
    </div>
    </div>


    <div id="projectsContainer" class="bground-container">
        <div id="stage" class="bground">
            <div id="shape" class="backfaces stack">
                
            </div>
        </div>
    </div>

    <div id="fullDetail-container" class="card text-center">

    </div>

</section>