<section id="projects">
    <div class=" sectionTopic">
        <h1 class="title">PROJECTS</h1>

        <h2 class="btn-extend active subtitle" (click)="transformProjectsContainer()">
            let's see how powerful you are
        </h2>
    </div>


    <div class="bground-container jumpUp-container" id="projectsContainer">
        <div id="stage" class="bground jumpUp-item">
            <div id="shape" [class.stack]="stack" [class.ring]="ring">

                <div *ngFor="let project of projects; index as i" class="project {{project.id}}"
                    style="background-image: url('{{project.backgroundImgMobile}}');" (click)="openDialog(i)">

                    <!-- <img class="frame" src="./assets/img/frameIphone.png"> -->
                    <p class="name">{{project.name}}</p>

                </div>

            </div>
        </div>
    </div>

</section>