<section id="contact">
    <div class="sectionTopic">
        <h1 class="title">CONTACT</h1>
        <a href="mailto:lam90namdinh@gmail.com" style="text-decoration: none; color: currentColor;">
            <h2 class="btn-email subtitle">
                lam90namdinh@gmail.com
            </h2>
        </a>
    </div>

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" action="https://tunglam-dao.com.de/sendMail.php">

        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Your Name</mat-label>
                <input matInput type="text" id="name" required [(ngModel)]="contact.name" name="name" #name="ngModel" />
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Your Email</mat-label>
                <input matInput type="email" required [(ngModel)]="contact.email" name="email" #email="ngModel" ngModel
                    [email]="true" />
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Your Message</mat-label>
                <textarea matInput name="" id="" required placeholder="What would you like to tell me?"
                    [(ngModel)]="contact.message" name="message" #message="ngModel"></textarea>
            </mat-form-field>
        </p>
        <p>

            <button class="btn-send" mat-flat-button color="primary" type="submit" [disabled]="!contactForm.form.valid"
                (click)="openSnackBar(name.value)">
                Send
            </button>

        </p>

    </form>

    <div class="position-absolute bottom-0 start-0">
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>information</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="dialog.open(DialogImprintComponent)">Imprint</button>
            <button mat-menu-item (click)="dialog.open(DialogPrivacyPolicyComponent)">Privacy Policy</button>
        </mat-menu>
    </div>


</section>