#contact {
    padding: 5rem 1rem;
    .sectionTopic {
        width: fit-content;
        h1 {
            padding: 1rem 0;
            font-size: 3rem;
            margin: 0;
            white-space: nowrap;
        }

        .btn-email {
            border-top: solid 1px transparent;
            border-bottom: solid 1px transparent;

            &:hover {
                border-top: solid 1px white;
                border-bottom: solid 1px white;
            }
        }
    }

    .bground-container {
        height: 60vh;
        width: 100%;
        background-color: transparent;
        .bground {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            background-color: rgba(255, 255, 255, 0.9);
            color: black;

            textarea {
                height: 10rem;
            }
        }
        .btn-send {
            width: 5rem;
        }
    }

    @media (min-width: 480px) {
        padding: 7rem 4rem 4rem;
        .bground-container {
            .bground textarea {
                height: 10rem;
            }
        }
    }

    @media (min-width: 800px) {
        padding: 7rem 6rem 4rem;
        .sectionTopic {
            h1 {
                font-size: 4rem;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
    }

    @media (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        .bground-container {
            height: 100%;
            .bground textarea {
                height: 16rem;
            }
            margin-left: 3rem;
        }
    }
}
