#contact {
    height: fit-content;
    padding: 5rem 1rem;
    .sectionTopic {
        width: fit-content;
        h1 {
            padding: 1rem 0;
            font-size: 3rem;
            margin: 0;
            white-space: nowrap;
        }

        .btn-email {
            border-top: solid 1px transparent;
            border-bottom: solid 1px transparent;

            &:hover {
                border-top: solid 1px white;
                border-bottom: solid 1px white;
            }
        }
    }

    form {
        height: fit-content;
        width: 100%;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.9);
        color: black;
        border-radius: 4px;

        textarea {
            height: 10rem;
        }
        mat-form-field {
            width: 100%;
        }
    }
    .btn-send {
        width: 5rem;
    }

    @media screen and (min-width: 480px) {
        padding: 7rem 4rem 4rem;
        form textarea {
            height: 10rem;
        }
    }

    @media screen and (min-width: 800px) {
        padding: 7rem 6rem 4rem;
        .sectionTopic {
            h1 {
                font-size: 4rem;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
    }
    
    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        form {
            height: 100%;
            margin-left: 3rem;
            
            textarea {
                height: 16rem;
            }
        }
    }

    // @media screen and (max-height: 650px) {
    //     padding: 3rem;
    //     display: flex;
    //     justify-content: space-between;
    //     .sectionTopic {
    //         h1 {
    //             font-size: 2rem;
    //         }
    //         h2 {
    //             font-size: 1rem;
    //         }
    //     }
    //     form {
    //         height: fit-content;
    //         margin-left: 3rem;
            
    //         textarea {
    //             height: 4rem;
    //         }
    //     }
    // }
}
