<section id="quote">
    <div class="sectionTopic">
        <div>
            <h2 class="subtitle">
                <i class="fas fa-quote-left"></i>
                <br>
                <br>
                DO WHAT YOU LOVE,
                <br>
                <br>
                LOVE WHAT YOU DO.
                <br>
                <br>
                <i class="fas fa-quote-right"></i>
            </h2>
        </div>
    </div>
    
    <div class="bground-container jumpUp-container">
        <div class="bground jumpUp-item"></div>
    </div>
</section>