/************ QUOTE ***********/
#quote .sectionTopic {
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    white-space: nowrap;
    background-color: black;
}

#quote .bground-container{
    display: flex;
    justify-content: end;
}

#quote .bground{
    border: solid 2px white;
    width: 40vw; 
}
/************ QUOTE ***********/