/************ QUOTE ***********/
#quote {
    .sectionTopic {
        z-index: 1;
        display: flex;
        align-items: center;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        white-space: nowrap;
        background-color: black;
    }
    .bground-container {
        position: absolute;
        height: 60vh;
        top: 7rem;
        right: 1rem;
        left: 1rem;
        display: flex;
        justify-content: end;
        overflow: hidden;
        .bground {
            border: solid 2px white;
            width: 40vw;
        }
    }
    @media screen and (min-width: 480px) {
        .bground-container {
            right: 4rem;
            left: 4rem;
        }
    }
    @media screen and (min-width: 800px) {
        .sectionTopic h2 {
            font-size: 1.5rem;
        }
        .bground-container {
            height: 72vh;
            right: 6rem;
            left: 6rem;
        }
    }
    @media screen and (max-height: 480px) {
        .bground-container {
            position: relative;
            top:auto;
            left: auto;
            right: auto;
            height: 100vh;
            width: 100vw;
            .bground {
                border: none;
                width: fit-content;
            }
        }
    }
}

/************ QUOTE ***********/
