<div id="sidenav">
    <a href="#home" [class.big]="isInViewPort.elementInViewport(home)" class="stick active" id="stick1"></a>
    <a href="#quote" [class.big]="isInViewPort.elementInViewport(quote)" class="stick" id="stick2"></a>
    <a href="#about" [class.big]="isInViewPort.elementInViewport(about)" class="stick" id="stick3"></a>
    <a href="#projects" [class.big]="isInViewPort.elementInViewport(projects)" class="stick" id="stick4"></a>
    <a href="#contact" [class.big]="isInViewPort.elementInViewport(contact)" class="stick" id="stick5"></a>
</div>

