/* google font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
}

/* *********** MAIN ********** */
#main {
    width: 100%;
    /* max-width: 1024px; */
    /* CSS Smooth Scroll */
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* hide Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* hide Scrollbar */
#main::-webkit-scrollbar {
    display: none;
}

/************ MAIN ***********/

/************ SECTION ***********/
section {
    background: rgba(0, 0, 0, 1) no-repeat center center/cover;
    width: 100%;
    /* Scroll Snap */
    scroll-snap-align: start;
    height: 100vh;
    position: relative;
}

.sectionTopic {
    .title,
    .subtitle {
        transform: translateX(-100vw);
    }
}

.jumpUp-container {
    .jumpUp-item {
        transform: translateY(100vh);
    }
}
/************ SECTION ***********/

/*********** SECTION ACTIVE **********/
section.active .sectionTopic{
    .title,
    .subtitle {
        animation: jumpOut 0.5s ease-in-out;
        transform: translateX(0);
    }
}
@keyframes jumpOut {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

section.active .jumpUp-item {
    animation: jumpUp 0.5s ease-in-out;
    transform: translateY(0);
}

@keyframes jumpUp {
    0% {
        transform: translateY(100vh);
        height: 80%;
    }

    50% {
        transform: translateY(0);
        height: 80%;
    }

    100% {
        height: 100%;
    }
}

/*********** SECTION ACTIVE **********/

/************ BUTTON EXTEND ***********/

.btn-extend {
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%); */
    background-color: transparent;
    color: #fff;
    overflow: hidden;
}

.btn-extend.active:hover {
    border-top: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    cursor: pointer;
}

.btn-extend.active:before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-extend.active:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

/************ BUTTON EXTEND ***********/
