<section id="home">
    <div class="sectionTopic">
        <h1 class="title">LAM DAO</h1>

        <h2 class="subtitle">web developer</h2>

        <a id="btnContactMe" href="#contact">
            <h2 class="subtitle">contact me</h2>
        </a>

    </div>

    <div class="bground-container jumpUp-container">
        <img class="bground jumpUp-item" src="./assets/img/noBackground.png">
        <!-- <p>
            I have been living in Germany since 2013. <br>
            My journey has started since 2021 <br>
            by learning programming at Developer Akademie in Munich. <br>
            The codes are exciting for me like the Lego pieces. <br>
            And my challenge is making them useful.
        </p> -->
    </div>
</section>