#home {
    /* background-image: radial-gradient(closest-side at 84% 84%,white -300%,black 300%); */
    background-image: linear-gradient(to right bottom, black 56%, gray 120%);

    .sectionTopic {
        position: absolute;
        top: 10rem;
        left: 1rem;
        z-index: 1;
        width: fit-content;
        h1 {
            padding: 1rem 0;
            font-size: 3rem;
            margin: 0;
        }
        h2 {
            font-size: 1rem;
        }
    }
    
    .bground-container {
        position: absolute;
        padding: 0rem;
        top: auto;
        left: auto;
        right: 0;
        bottom: 0;
        height: 60vh;
        max-width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;

        .bground {
            opacity: 0.7;
        }
    }

    @media (min-width: 480px) {
        .sectionTopic {
            left: 4rem;
            h1 {
                font-size: 3rem;
            }
        }
        .bground-container {
            height: 70vh;
        }
    }

    @media (min-width: 800px) {
        .sectionTopic {
            top: 40%;
            left: 6rem;
            h1 {
                font-size: 4rem;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
        .bground-container {
            height: 80vh;
        }
    }

}

#btnContactMe {
    margin: 5rem;
    text-decoration: none;
    color: white;

    * {
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 0.5rem 1rem 0.5rem 3rem;
        border-radius: 0 3rem 3rem 0;

        &:hover {
            padding-left: 4rem;
            transition: all 0.25s;
        }
    }
}
